* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/space-background.jpg');
  background-size: cover;
}

/* Title Screen */

.title-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.title-screen > img {
  flex-grow: 0.5;
  max-width: 100%;
}

.title-screen > a {
  text-decoration: none;
  align-self: center;
  padding: 15px;
  border: 5px solid cyan;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  background-color: darkblue;
  color: cyan;
  width: 50%;
}

.title-screen > a:hover {
  background-color: cyan;
  color: darkblue;
  border-color: darkblue;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
}

header img {
  max-height: 100%;
}

header > h1 {
  color: white;
  text-shadow: 2px 2px navy;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}

/* Main Section, Containers & Game Boards */
main {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  height: 95%;
  border: 2px solid dodgerblue;
  position: relative;
}

.game-board {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: dodgerblue;
  min-height: 30%;
  max-width: 60%;
}

.game-board > * {
  margin: 5px;
}

.game-board > h2, .game-board > h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 2px 1px black;
}

.game-board > form {
  display: flex;
  flex-direction: column;
}

.diff-selector {
  background-color: darkblue;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  border: none;
  height: 25px;
}

.diff-selector:focus {
  outline: none;
}

.game-board > a {
  text-decoration: none;
  align-self: center;
  padding: 5px;
  border: 2px solid cyan;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background-color: darkblue;
  color: cyan;
  width: 95%;
}

.game-board > a:hover {
  background-color: cyan;
  color: darkblue;
  border-color: darkblue;
}

.game-board p {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px black;
  margin: 5px;
}

.game-board[id='player-stats'] > p, .game-board[id='score-board'] > p {
  align-self: flex-start;
  text-align: left;
}

.alien-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 50%;
  height: 65%;
  border: 1px solid transparent;
  position: relative;
}

.bunker-container {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 70%;
  width: 100%;
  height: 12%
}

/* Gameplay Objects */
.gunner {
  width: 9%;
  height: 7%;
  background-image: url('../assets/baby-yoda.png');
  background-size: 100% 100%;
  position: absolute;
  left: 45%;
  top: 90%;
}

.bullet {
  width: 1%;
  height: 4%;
  background-color: cyan;
  box-shadow: 0px 0px 10px 10px blue;
  border-radius: 100px 100px 0 0;
  position: absolute;
}

.bomb {
  width: 3%;
  height: 4%;
  background-color: orangered;
  box-shadow: 0px 0px 10px 2px red;
  border-radius: 0 0 100% 100%;
  position: absolute;
}

.alien {
  width: 17%;
  height: 9%;
  margin-top: 5px;
  background-image: url('../assets/stormtrooper.png');
  background-size: 100% 100%;
}

.fixed-alien {
  margin-top: 0px;
  position: absolute;
}

.mothership {
  width: 34%;
  height: 18%;
  margin-top: 5px;
  background-image: url('../assets/darth-vader.png');
  background-size: 100% 100%;
  margin: 5px auto
}

.fixed-mothership {
  position: absolute;
  margin: 0
}

.bunker {
  width: 15%;
  height: 100%;
  background-image: url('../assets/metal-block.png');
  background-size: 100% 100%;
}

.fixed-bunker {
  position: absolute;
}

/* Media Queries */

@media screen and (max-width: 750px) {
  header {
    height: 15vh;
  }

  main {
    padding: 15px 0;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
  }

  .game-board[id='score-board'] {
    padding: 0px;
    min-height: 0;
    height: fit-content;
    max-width: 100%;
    width: 500px;
    margin-top: 10px;
  }

  .container {
    height: 0;
    flex-grow: 1;
  }
}
