* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  width: 600px;
  height: 90%;
  border: 5px solid green;
  position: absolute;
}

.gunner {
  width: 40px;
  height: 40px;
  background-color: red;
  position: absolute;
  top: 90%;
}

.bullet {
  width: 10px;
  height: 30px;
  background-color: blue;
  border-radius: 100% 100% 0 0;
  position: absolute;
}

.bomb {
  width: 20px;
  height: 30px;
  background-color: purple;
  border-radius: 0 0 100% 100%;
  position: absolute;
}

.alien-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 50%;
  height: 70%;
  border: 1px solid black;
  position: absolute;
}

.alien {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 5px;
}

.fixed-alien {
  position: absolute;
  margin-top: 0px;
}

.bunker-container {
  display: flex;
  justify-content: space-evenly;
  background-color: brown;
  position: absolute;
  top: 70%;
  width: 100%;
}

.bunker {
  width: 15%;
  height: 100px;
  background-color: pink;
  border-radius: 15px;
}

.fixed-bunker {
  position: absolute;
}