* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  height: 600px;
  align-self: center;
  justify-self: center;
  border: 5px solid green;
  position: relative;
}


div.test-block {
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
}

div.bullet {
  height: 50px;
  width: 50px;
  background-color: blue;
  border-radius: 100%;
  position: absolute;
}
