* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  height: 600px;
  width: 1000px;
  align-self: center;
  justify-self: center;
  border: 5px solid green;
  position: relative;
}


div.test-block {
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
}

div.stationary-block {
  height: 100px;
  width: 100px;
  background-color:purple;
  position: relative;
  top: 30px;
  left: 300px;
}

div.bullet {
  height: 50px;
  width: 10px;
  background-color: blue;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  position: absolute;
}
